.header {
        // display: block;
        position: relative;
        top: 0%;
        text-align: center;
        cursor: pointer;
}

.header__logo {
    width: 56.6rem;
    margin-top: 1rem;
    @include respond(tab-land) {
        width: 46.6rem;
        height: 6.8rem;
    }
    @include respond(tab-port) {
        width: 28.3rem;
        height: 4.1rem;
    }

    @include respond(phone) {
        width: 18.8rem;
        height: 2.7rem;
    }

    @include respond(small-phone) {
        width: 12.57rem;
        height: 1.8rem;
    }

 
}
.sticky .header__logo {
        margin-top: 1rem;
        width: 18.8rem;
        height: 2.7rem;
}