
.header {
    content:"";
    height: 100vh;
    width: 100vw;
    // position:fixed; /* stretch a fixed position to the whole screen */
    top:0;
    left:0;
    right:0;
    z-index:-1; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/AdobeStock_sunrise2.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;    
    background-position: center center;
    background-attachment: fixed;
}


.header__logo-white {
    width: 30%;

    @include respond(tab-land) {
        width: 40%;
    }
    @include respond(tab-port) {
        width: 40%;
    }
    

    @include respond(phone) {
        width: 45%;
    }

    @include respond(small-phone) {
        width: 49%;
    }
}


.header__logo-black { display: none; }
.sticky .header__logo-white { display: none; }

.sticky .header__logo-black {
        display: inline-block;  //This will display logo
        width: 30%;
        
        -webkit-transition: all 0.5s ease-in 0s;
                transition: all 0.5s ease-in 0s;
        -webkit-transform: translateZ(0);
            transform: translateZ(0);

        @include respond(tab-land) {
            width: 40%;
        }
        @include respond(tab-port) {
            width: 40%;
        }
        @include respond(phone) {
            width: 45%;
        }
        @include respond(small-phone) {
            width: 49%;
        }
}
