// Main nativation
.navigation {
    height: auto;
    justify-content: space-between; //display left right to the end and then middle evenly spaced between
    align-items: center;
    padding: 3rem 10%;
    @include respond(tab-land) {
        padding: 2rem 5%;
    }
    
    &__list {
        // float: right;
        text-align: center;
        list-style: none;
        text-transform: uppercase;
        font-size: 1.5rem;
        @include respond(tab-land) {
            font-size:1.5rem;
        }
    }
    &__item {
        display: inline-block; //All menu items side-by-side
        padding: 0 5rem 0 0;
        &:last-child {
            padding: 0;
        }
    }
    &__link {
        &:link,
        &:visited {
            text-decoration: none;
            transition: all 0.3s ease 0s;
            color: $color-black;
        }
        &:hover,
        &:active {
            color: $color-primary-light3;
        }
    }

}

// Sticky navigation 
.sticky {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    // height: 6.8rem;
    // justify-content: space-between; //display left right to the end and then middle evenly spaced between
    // align-items: center;
    background-color: #ffffff;
    box-shadow: 0 .2rem 1rem $color-grey-dark-2;
    padding: 1rem 1%;
    // padding: 1rem 5%;
    z-index: 9999;
    
}
.sticky .navigation {
    padding: 1rem 10%;
    &__item {
        padding-top: .5rem;
        &:first-child {
            padding-left: 5rem;
        }
        
    }
}

