.photo {
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
        justify-content: center;
        align-items: center;

    &__img {
        max-width: 30rem; //To remove later.
        height: auto;
        outline-offset: 1rem;
        overflow: hidden;
        &--main {
            width: 70%;
            align-self: center;
            
        }
        &--sub {
            width: 100%;
            margin-top: 2rem;
            box-shadow: 0 2rem 4rem rgba($color-black, .4);
            
        }
        &--sub2 {
            width: 70%;
            align-self: center;
        }
        @include respond(phone) {
            height: 30rem;
            width: 30rem;
            align-items: center;
            text-align: center;
        }
    }
}
 