// @import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";
@import "abstracts/animation";

// @import "base/animation";
@import "base/base";
@import "base/typography";
@import "base/utilities";
@import "base/normalize";

@import "components/footer";
@import "components/form";
@import "components/swatches";
@import "components/sections";
@import "components/tooltip";

@import "layout/banner";
@import "layout/header";
@import "layout/grid";
@import "layout/navigation";
@import "layout/photos";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}
html {
    //This describes what 1rem is
    font-size: 62.5%; //Definition of 1rem = 62.5% * 16px;
}
body {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}