body {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-black;
}

.heading-primary {
    display: block;
    position: relative;
    margin-bottom: 5rem;
    color: $color-primary-light4;
    text-transform: uppercase;
    text-align: center;
    font-size: 5rem;
    font-weight: 500;
    letter-spacing: 3.5rem;

    @include respond(tab-land) {
        letter-spacing: 3rem;
        font-size: 5rem;
    }
    @include respond(tab-port) {
        letter-spacing: 2rem;
        font-size: 4rem;
    }
    @include respond(phone) {
        letter-spacing: 1rem;
        font-size: 2rem;
    }
    @include respond(small-phone) {
        letter-spacing: .8rem;
        font-size: 1.5rem;
    }
}

.heading__text-box {
    text-align: center;
}
.heading-secondary {
    text-transform: uppercase;
    color: $color-black;
    
    &--main {
        display: block;
        // margin-top: 5rem;
        margin-bottom: 5rem;
        font-size: 4rem;
        font-weight: 700;
        letter-spacing: 2.5rem;
        @include respond(phone) {
            font-size: 3rem;
            letter-spacing: 1rem;
        }
    }

    &--sub {
        display: block;
        margin-bottom: 2rem;
        font-size: 3rem;
        font-weight: 600;
        letter-spacing: .8rem;
    }
    &--sub2 {
        display: block;
        margin-bottom: 3rem;
        font-size: 2rem;
        font-weight: 500;
        letter-spacing: .5rem;
    }
}

.heading-tertiary {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: .2rem;
    text-transform: uppercase;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.paragraph {
    font-size: $default-font-size;
    letter-spacing: .15rem;
    text-align: justify;
    margin-bottom: 3rem;
    &__text--bold {
        font-weight: 700;
    }
}

.paragraph-footer {
    font-size: $default-font-size;
    text-align: justify;
    margin-bottom: 3rem;

    &__copyright {
        margin-bottom: 0;
    }

}

.heading-footer {
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.slogan-text__box {
    position: absolute;
    width: 100%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}