.footer {
    background-color: $color-primary-dark4;
    color: $color-primary-light4;
    font-size: $small-font-size;
    padding-top: 4rem;
    padding-bottom: 6rem;
    margin-top: 7rem;
    height: 25vh;

    &__navigation {
        display: block;
    }

    &__list {
        list-style: none;
    }
    &__item {
       display: block;
       padding-bottom: 1rem;
       &:last-child {
           padding-bottom: 0;
       }
    }

    &__link {
        &:link,
        &:visited {
            color: $color-primary-light5;
            text-decoration: none;
        }

        &:hover,
        &:active {
            color: $color-primary-light4;
        }
    }
    &__contact{
        color: $color-primary-light5;
        line-height: 5rem;
    }
    &__icon {
        font-size: 4rem;
        color: $color-primary-light5;
        padding: 0;
        position: relative;
        top: 1.5rem;
        padding-right: 1rem;
    }
    

    
}
