.footer {
    background-color: $color-primary-dark4;
    color: $color-primary-light4;
    font-size: $small-font-size;
    padding: 10rem 0;

    @include respond(tab-land) {
        padding: 8rem 0;

        .row .col-1-of-3:not(:last-child) { 
            margin-bottom: 3rem !important; 
            
        }
    }

    @include respond(tab-port) {
        padding: 6rem 0;
        
        .row .col-1-of-3:not(:last-child) { 
            margin-bottom: 3rem !important; 
            
        }
    }
    @include respond(phone) {
        
        .row .col-1-of-3:not(:last-child) { 
            margin-bottom: 3rem !important; 
            
        }
    }
    @include respond(small-phone) {
        
        .row .col-1-of-3:not(:last-child) { 
            margin-bottom: 3rem !important; 
            
        }
    }

    &__navigation {
        display: block;
    }

    &__list {
        list-style: none;
    }
    &__item {
       display: block;
       padding-bottom: 1rem;
       &:last-child {
           padding-bottom: 0;
       }
    }

    &__link {
        &:link,
        &:visited {
            color: $color-primary-light5;
            text-decoration: none;
        }

        &:hover,
        &:active {
            color: $color-primary-light4;
        }
    }
    &__contact{
        color: $color-primary-light5;
        line-height: 5rem;

        &:link,
        &:visited {
            color: $color-primary-light5;
            text-decoration: none;
        }

        &:hover,
        &:active {
            color: $color-primary-light4;
        }
    }
    &__icon {
        font-size: 4rem;
        color: $color-primary-light5;
        padding: 0;
        position: relative;
        top: 1.5rem;
        padding-right: 1rem;

        &:link,
        &:visited {
            color: $color-primary-light5;
            text-decoration: none;
        }

        &:hover,
        &:active {
            color: $color-primary-light4;
        }
    }
    

    
}
