#mc_embed_signup .form {
    padding: 0 !important;
}

.form {
    margin-top:1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background-color: $color-primary-dark4;
    color: $color-primary-light5;
    text-decoration: none;
    
    
    &__input {
        font-family: inherit;
        color: $color-primary-light5;
        outline: none;
        background-color: $color-primary-dark4;
        font-size: $small-font-size;
        padding: 1rem 2rem 1rem 0;
        width: 100%;
        border: none;
        border-bottom: 2px solid $color-primary-light4;
        &::-webkit-input-placeholder{
            color: $color-primary-light5;
        }
        &:-ms-input-placeholder{
            color: $color-primary-light5;
        }
        &::-ms-input-placeholder{
            color: $color-primary-light5;
        }
        &::placeholder{
            color: $color-primary-light5;
        }
        &:focus:invalid {
            border-bottom: 2px solid #b30000;
        }
    }

    &__button {
        font-size: $default-font-size;
        font-family: inherit;
        color: $color-primary-light5;
        background-color: $color-primary-dark4;
        padding: 1.3rem;
        margin-top: 1rem;
        border: 2px solid $color-primary-light4;
        border-radius: 4px;
        width: 13rem;
        outline: none;
        -webkit-transition: all .5s;
        transition: all .5s;
        text-decoration: none !important;   

        &:hover {
            background-color: $color-primary-light4;
            color: $color-primary-dark2;
            cursor: pointer;
        }
        &:active {
            -webkit-box-shadow: 0 .5rem 1rem rgba($color-black, .15);
                    box-shadow: 0 .5rem 1rem rgba($color-black, .15);
            -webkit-transform: translateY(4px);
                    transform: translateY(4px);
        }
    }
}

.clear .button {
        font-size: $default-font-size !important;
        font-family: inherit !important;
        // text-align: center;
        color: $color-primary-light5 !important;
        background-color: $color-primary-dark4 !important;
        padding: 1.3rem !important;
        margin-top: 1rem !important;
        border: 2px solid $color-primary-light4 !important;
        border-radius: 4px !important;
        width: 13rem !important;
        height: 5rem !important;
        line-height: 0 !important;
        // outline: none !important;
        -webkit-transition: all .5s !important;
        transition: all .5s !important;

        &:hover {
            background-color: $color-primary-light4 !important;
            color: $color-primary-dark2 !important;
            cursor: pointer !important;
        }
        &:active {
            -webkit-box-shadow: 0 .5rem 1rem rgba($color-black, .15) !important;
                    box-shadow: 0 .5rem 1rem rgba($color-black, .15) !important;
            -webkit-transform: translateY(4px) !important;
                    transform: translateY(4px) !important;
        }

    }

.mc-field-group .form__input {
        font-family: inherit !important;
        color: $color-primary-light5 !important;
        outline: none !important;
        background-color: $color-primary-dark4 !important;
        font-size: $small-font-size !important;
        padding: 1rem 2rem 1rem 0 !important;
        width: 100% !important;
        border: none !important;
        border-bottom: 2px solid $color-primary-light4 !important;
        &::-webkit-input-placeholder{
            color: $color-primary-light5 !important;
        }
        &:-ms-input-placeholder{
            color: $color-primary-light5 !important;
        }
        &::-ms-input-placeholder{
            color: $color-primary-light5 !important;
        }
        &::placeholder{
            color: $color-primary-light5 !important;
        }
        &:focus:invalid {
            border-bottom: 2px solid #b30000 !important;
        }
}

