section {
    padding-top: 5rem;
}

.section-banner {
    padding-top: 0;
}

.section-shades {
    margin-bottom: 10rem;
}


.js--wp-1 {
    opacity: 0;

    &.animated {
        opacity: 1;
    }
}

.js--wp-2 {
    opacity: 0;

    &.animated {
        opacity: 1;
    }
}

