.swatches {
    background-color:inherit;
    padding: 1rem; 
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.swatch {
    // background-color: #d19e33;
    // height: 2.8rem; 
    // width: 2.8rem;
    height: 3.2rem;
    width: 3.2rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 50%;
    transition: all .15s;

    &:hover {
        border: 3px solid $color-grey-dark-3;
    }
    //column 1
    &--color-dp4 {
        background-color: #BF846C;
    }
    &--color-dn4 {
        background-color: #B27954;
    }
    &--color-dg5 {
        background-color: #B47346;
    }
    &--color-dp5 {
        background-color: #BC7C61;
    }
    &--color-dn5 {
        background-color: #BC855E;
    }
    &--color-dg6 {
        background-color: #AF6B41;
    }
    //column 2
    &--color-dp6 {
        background-color: #BB7B63;
    }
    &--color-dn6 {
        background-color: #AC704D;
    }
    &--color-dg7 {
        background-color: #A65F34;
    }
    &--color-dn7 {
        background-color: #A96842;
    }
    &--color-dpg1 {
        background-color: #8C5741;
    }
    &--color-dpp1 {
        background-color: #834E42;
    }

    //column 3
    &--color-dpn1 {
        background-color: #5E3931;
    }
    &--color-dpg2 {
        background-color: #86513B;
    }
    &--color-dpp2 {
        background-color: #673631;
    }
    &--color-dpn2 {
        background-color: #5C352F;
    }
    &--color-dpg3 {
        background-color: #7B442F;
    }
    &--color-dpp3 {
        background-color: #764038;
    }

    //column 4
    &--color-dpn3 {
        background-color: #5C332A;
    }
    &--color-dpg4 {
        background-color: #794432;
    }
    &--color-dpp4 {
        background-color: #6E382F;
    }
    &--color-dpn4 {
        background-color: #532F28;
    }
    &--color-dpg5 {
        background-color: #6F3821;
    }
    &--color-dpp5 {
        background-color: #663128;
    }

    //column 5
    &--color-dpn5 {
        background-color: #4B2520;
    }
    &--color-dpg6 {
        background-color: #2F100C;
    }
    &--color-dpp6 {
        background-color: #5D2620;
    }
    &--color-dpn6 {
        background-color: #411E19;
    }
    &--color-dpg7 {
        background-color: #52201F;
    }
    &--color-dpn7 {
        background-color: #381A16;
    }
}


