.animation-heading {
    animation-name: fadeInUp;
    animation-duration: 5s;
    transition: all ease-in-out;
}



@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    80% {

    }
    100% {
        opacity: 1;
        transform: translateY(-10px);
    }
}


@-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    animation-duration: 3s;
    transition: all ease-in-out;
  }