// COLORS

$color-primary: #c06a2b;
$color-primary-sun: #ffb700;
$color-primary-medium: #a05824;
$color-primary-light: #dbb25d;
$color-primary-light2: #d6a848;
$color-primary-light3: #d19e33;
$color-primary-light4: #faf0e9;
$color-primary-dark: #703e19;
$color-primary-dark2: #481a0f;
$color-primary-dark3: #381A16;
$color-white: #fff;
$color-black: #1b1b1b;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

//FONT
$default-font-size: 1.6rem;
$small-font-size: 1.4rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem; //gap between columns and rows
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

/////OTHER COLORS 
//Footer background: #925021, medium: #683918 dark: #542e13 | lighter: #693918 |darker: #3f230e |chocolate: #481a0f
//footer Text:   light=#faf0e9 light-medium: #dfcfc6 medium: #f5e2d4 darker: #f1d4bf
//#ca7a42
//#b86326
//#683918
//#d19e33